<time datetime="<%= item.date.toDate().toISOString() %>"><a href="<%- config.root %><%- item.path %>"><%= item.date.format(config.date_format) %></a></time>

<% if (item.categories && item.categories.length){ %>
<%
var cats = [];
item.categories.forEach(function(cat){
	cats.push('<a href="' + config.root + cat.path + '">' + cat.name + '</a>');
});
%>
 / <%- cats.join(' // ') %>
<% } %>

<% if (item.tags && item.tags.length){ %>
<%
var tags = [];
item.tags.forEach(function(tag){
	tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
});
%>
 / <%- tags.join(' // ') %>
<% } %>
