<%- partial('_partial/head') %>

<body>
  <header class="banner"><%- partial('_partial/header') %></header>
  <section class="main">
    <%- body %>
    <div class="clearfix"></div>
  </section>
  <footer class="site-footer"><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %>
</body>
</html>
